.medication-info-div1{
    background-color: aqua;
    padding-bottom: 20px;
}


.medication-info-table1-td{
    padding-left: 150px;
}

.medication-info-div2{
    background-color: blueviolet;
    border-radius: 25px;
    width: 600px;
    
}
.medication-info-table2{
    margin: 20px;
    margin-left: 30px;
}

.medication-info-table2-td{
    padding-right: 60px;
    padding-bottom: 20px;
    
}