.info-div {
    background-color: aqua;
    border-radius: 25px;
    width: 600px;
}
.info-table {
    margin: 30px;
}
.info-h {
    font-size: 20px;
    height: 50px;
}

.info-td1 {
    height: 50px;
    border-top: 1px solid black;
    width: 100px;
    
    
}
.info-td2 {
    height: 50px;
    border-top: 1px solid black;
    width: 500px;
    
}